.about,
.curiosities{
    padding: 5.6vw;
    height: auto;

    @media (max-width: 767px) {
        margin-bottom: 32px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        margin-bottom: 48x;
    }

    &__content{
        display: flex;
        align-items: center;

        @media (min-width: 360px) and (max-width: 767px) {
            display: block;
            text-align: center;
        }

        @media (min-width: 768px) and (max-width: 1024px) {
            display: block;
            text-align: center;
        }

        &__image{
            height: 450px;
            width: 450px;
            margin-right: 32px;
            margin-top: 40px;
            padding: 16px;

            @media (min-width: 360px) and (max-width: 767px) {
                max-width: 300px;
                height: 230px;
                margin: 20px;
            }

            @media (min-width: 768px) and (max-width: 1024px) {
                margin: 0;
            } 


            &:hover {
                transform: scale(1.1);
            }
        }

        &__description{
            margin-bottom: 24px;
        }
    }
}