@use 'variables';
@use 'logo';
@use 'about';
@use 'houses';

@font-face{
    font-family: game ;
    src: url(../../assets/fonts/Game\ of\ Thrones.ttf);
    font-weight: 400;
}

@mixin text ($fontSize: 20px){
    font-family: 'Mooli', sans-serif;
    font-size: $fontSize;
    color: variables.$textColor;
    font-weight: 200px;
}

@mixin title($fontSize: 24px){
    font-size: $fontSize;
    color: variables.$titleColor;
    font-family: game;
    border-bottom: 2px solid variables.$titleColor;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    ul {
        list-style: none;
    }

    a{
        text-decoration: none;
    }
}

body{
    background-color: variables.$bgColor;
}

.dragon{
    position: fixed;
    right: 0;
    height: 80px;
    margin-top: 56px;
    transition: all 1s ease;

    @media (min-width: 360px) and (max-width: 767px) {
        height: 50px;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        height: 60px;
    }

    &--is-hidden{
        opacity: 0;
        visibility: hidden
    }
}

.text{
    @include text;

    @media (min-width: 360px) and (max-width: 767px) {
        @include text(16px);
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        @include text(18px);
    }
}

.title{
    @include title;

    @media (min-width: 360px) and (max-width: 767px) {
        @include title(18px);
    }

    @media (min-width: 768px) and (max-width: 1024px) {
        @include title(20px);
    }
}